body
{
background-color:#563493;
color:#cec4b6;
font-family:helvetica, arial, sans-serif;
margin:0;
}
#bodysection
{
margin:15px;
padding:15px;
}
#bodysection a:link
{
color:#e6e2da;
text-decoration:none;
font-style:italic;
}
#bodysection a:visited
{
color:#e6e2da;
text-decoration:none;
font-style:italic;
}
#bodysection a:hover
{
color:#ff6666;
text-decoration:none;
font-style:italic;
}
#bodysection p
{
font-size:18px;
text-align:justify;
}
#bodywrapper
{
width:720px;
float:right;
}
.bold
{
font-weight:bold;
}
.center
{
text-align:center;
}
#errors
{
display:block;
}
form
{
width:500px;
height:550px;
font-size:14px;
line-height:24px;
font-weight:bold;
}
h1
{
font-size:26px;
text-align:center;
}
h2
{
font-size:22px;
}
input
{
width:375px;
display:block;
border:1px solid #999;
height:25px;
}
input.button
{
width:100px;
float:left;
background:#9371d0;
color:#cec4b6;
height:30px;
border:1px solid #999;
}
input.button:hover
{
background:#ff6666;
color:#09c;
}
li
{
font-size:18px;
}
#logopic
{
padding-left:20px;
padding-top:55px;
padding-bottom:50px;
}
#menu
{
background-color:#9371d0;
height:100%;
width:240px;
position:fixed;
}
#menuicons
{
padding-left:20px;
position:fixed;
bottom:20px;
}
#menulinks
{
font-family:helvetica, arial, sans-serif;
font-size:18px;
letter-spacing:1px;
padding-left:20px;
padding-right:20px;
}
#menulinks a:link
{
color:#cec4b6;
text-decoration:none;
}
#menulinks a:visited
{
color:#cec4b6;
text-decoration:none;
}
#scrollup
{
bottom:20px;
right:40px;
padding:10px;
background:#9371d0;
color:#cec4b6;
}
textarea#message
{
width:375px;
height:150px;
display:block;
}
#wrapper 
{
width:960px;
height:100%;
}